<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="FolderPath" value="Temp"/>
    <add key="ReportPathOnServer" value="D:\0211\"/>
    <add key="MailTo" value="sajidali3387@gmail.com"/>
    <add key="MailFrom" value="webstore.sajid@gmail.com"/>
    <add key="MailPassword" value="sajidali3387"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>-->

    <add key="FolderPath" value="Temp" />
    <add key="ReportPathOnServer" value="E:\0211\" />
    <add key="MailTo" value="ajay.rathor@reasso.com" />
    <add key="MailFrom" value="addbazar.aseum@gmail.com" />
    <add key="MailPassword" value="addbazar2013" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <!--<add key="ConnectionString" value="data source=173.236.37.211\SQLEXPRESS;initial catalog=LoanPrice;user id=sa;password=sa;" />-->
    <add key="ConnectionString" value="data source=NIKUNJ\SQLEXPRESS;initial catalog=LoanPrice;user id=sa;password=sa;" />
    <add key="tolerance" value="0.00000001"/>
    <add key="max.iterations" value="50000"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=AVR1\MSSQLSERVER12;Initial Catalog=LoanPrice;trusted_connection=true" />
    <add name="LoanPriceEntities" connectionString="metadata=res://*/DateCalculatorDB.csdl|res://*/DateCalculatorDB.ssdl|res://*/DateCalculatorDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AVR1\MSSQLSERVER12;initial catalog=LoanPrice;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=173.236.37.211\SQLEXPRESS;Initial Catalog=LoanPrice;trusted_connection=true" />
    <add name="LoanPriceEntities" connectionString="metadata=res://*/DateCalculatorDB.csdl|res://*/DateCalculatorDB.ssdl|res://*/DateCalculatorDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.236.37.211\SQLEXPRESS;Initial Catalog=LoanPrice;user id=sa;password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ConnectionString" connectionString="Data Source=NIKUNJ\SQLEXPRESS;Initial Catalog=LoanPrice;trusted_connection=true" />
    <add name="LoanPriceEntities" connectionString="metadata=res://*/DateCalculatorDB.csdl|res://*/DateCalculatorDB.ssdl|res://*/DateCalculatorDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NIKUNJ\SQLEXPRESS;Initial Catalog=LoanPrice;user id=sa;password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>

      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>

  </system.webServer>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network" from="webstore.sajid@gmail.com">
        <network defaultCredentials="true" host="smtp.gmail.com" port="587" enableSsl="true" userName="webstore.sajid@gmail.com" password="sajidali3387"/>
      </smtp>
    </mailSettings>-->

  </system.net>
  <system.web>

    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-GB" culture="en-GB" />
    <sessionState mode="InProc" timeout="1" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <!--<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2013.3.1114.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />-->
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.5" />
    <httpModules />
  </system.web>

  <!--http://www.stokia.com/support/misc/web-config-ip-address-restriction.aspx-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>